<div class="container">
  <button class="btn btn-secondary btn-sm" (click)="backToHome()">back</button>
  <h2 class="text-center">Manage Transactions</h2>
  <h3 class="text-center">
      <button class="btn btn-secondary btn-sm" (click)="goPrev()">
      <i class="material-icons">
          keyboard_arrow_left
      </i>
      </button>
    {{date |date:"dd-MM-yyyy"}}
     <button class="btn btn-secondary btn-sm" (click)="goNext()">
    <i class="material-icons">
        keyboard_arrow_right
    </i>
  </button> 
  </h3>
  <div>
    <button class="btn btn-success btn-lg" (click)="addIncome()">
        Add Income
    </button>
    <button class="btn btn-danger btn-lg float-right" (click)="addExpense()">
        Add Expense
    </button>
  </div>
  <br>
  <div class="clearfix"></div>
  <table class="table table-bordered">
  
    <thead>
      <tr>
        <th>Type <span class="text-danger">*</span></th>
        <th>Amount <span class="text-danger">*</span></th>
        <th>Category <span class="text-danger">*</span></th>
        <th>Sub_Category<span class="text-danger">*</span></th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions" 
          class ="app-transaction-details"
          [transaction]="transaction"
          (transactionDeleted)="refreshTransactions($event)">
      </tr>
    </tbody>
 
  </table> 
</div>
